<%- include("partials/header") -%>

<h1>Home</h1>
<p><%=content%></p>
<% posts.forEach((post)=>{ var postContent= post.description.substring(0,100);%>
<h1><%=post.name%></h1>
<p><%=postContent+ " ..."%>
<a href="posts/<%=post._id%>">Read More</a>
</p>
<%})%>
	

<%- include("partials/footer") -%>
